/* imports */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap');

/* basic text definitions */

html {
    font-family: 'Dosis';
    background-color: #ecedeb;
    color: #4d3247;
}

pre {
    font-family: 'Dosis';
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h3 {
    text-align: center;
    font-size: 3em;
}


/* nav bar */

nav {
    z-index: 999;
    background-color: #4d3247;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    justify-content: flex-end;
    top: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.nav-buttons a {
    background-color: #a57573;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-buttons a:hover {
    background-color: #9b5263;
}

a {
    text-decoration: none;
    color: #ecedeb;
}


/* main pages */

main>*,
main>*>div {
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    color: #4d3247;
    font-size: 100%;
}

main>* {
    background: #e6e2dc;
}

.animal-info {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #e0cec4;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.animal-info * {
    font-weight: bold;
    padding: 20px;
    font-size: 150%;
}

.pet-container {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pet-container:hover {
    background-color: #e9dad3;
}

img {
    margin: 1em;
    transition: all .4s ease-in-out;
    width: 20em;
    height: 20em;
    border-radius: 1.5em;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pet-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pet-container:hover img {
    transform: scale(1.08);
}

.div-pet-page {
    display: flex;
    flex-direction: row;
}

.div-pet-page div {
    font-size: 150%;
}


/* Buttons */

.button-container {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}

button {
    color: #ecedeb;
    margin-left: 1em;
    border: none;
    background-color: #a57573;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button.delete {
    background-color: rgb(217, 99, 99);
}

button.edit {
    background-color: rgb(76, 154, 76);
}

button:hover {
    filter: brightness(120%);
}


/* FORMS */

form * {
    margin: 10px;
}


/* drag and drop */

.drop-zone {
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: 2px dotted #4d3247;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
    background-color: #a57573;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ecedeb;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}