/* COLORS:


Accents:
Pink: #E94B7F

Bases:
White: 
Dark Black: background-color: #1C1C26;

*/


/* title fonts: Caveat */


/* normal fonts: Dosis */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap');
html {
    font-family: 'Dosis';
    background-color: #ecedeb;
    color: #4d3247;
}

pre {
    font-family: 'Dosis';
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

main>h1 {
    text-align: center;
    background-color: #ecedeb;
    font-size: 4rem;
}

nav {
    z-index: 999;
    background-color: #4d3247;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.nav-buttons a {
    background-color: #a57573;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-buttons a:hover {
    background-color: #9b5263;
}

a {
    text-decoration: none;
    color: #ecedeb;
}

main>*,
main>*>div {
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    color: #4d3247;
    font-size: 100%;
}

main>* {
    background: #e6e2dc;
}

.animal-info {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #e0cec4;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.animal-info * {
    font-weight: bold;
    padding: 20px;
    font-size: 150%;
}

.pet-container {
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pet-container:hover {
    background-color: #e9dad3;
}

img {
    margin: 1rem;
    transition: all .4s ease-in-out;
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pet-container:hover img {
    transform: scale(1.08);
}

.div-pet-page {
    display: flex;
    flex-direction: row;
}

.div-pet-page div {
    font-size: 150%;
}

.button-container {
    margin-top: -8%;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button {
    color: #ecedeb;
    margin-left: 1rem;
    border: none;
    background-color: #a57573;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button.delete {
    background-color: rgb(217, 99, 99);
}

button.edit {
    background-color: rgb(76, 154, 76);
}

button:hover {
    filter: brightness(120%);
}