/* imports */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap');

/* basic text definitions */

html {
    font-family: 'Dosis';
    background-color: #ecedeb;
    color: #4d3247;
}

pre {
    font-size: 1.6em;
    font-family: 'Dosis';
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 6em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    padding-left: 1em;
    font-size: 3em;
}

a {
    font-family: 'Dosis';
    text-decoration: none;
    color: #4d3247;
}


/* nav bar */

nav {
    z-index: 999;
    background-color: #4d3247;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.nav-buttons a {
    color: #ecedeb;
    margin-right: 1.5em;
    background-color: #a57573;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-buttons a:hover {
    background-color: #9b5263;
}


/* main pages */

main>*,
main>*>div {
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    color: #4d3247;
    font-size: 100%;
}

main>* {
    background: #e6e2dc;
}

.animal-info {
    max-width: 100%;
    margin: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #e0cec4;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.animal-info * {
    font-weight: bold;
    padding: .3em;
    font-size: 1.5em;
    margin: 1em;
}

.pet-container {
    width: 30em;
    max-width: 80vw;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pet-container:hover {
    background-color: #e9dad3;
}

img {
    max-width: 70vw;
    margin: 1em;
    transition: all .4s ease-in-out;
    width: 20em;
    height: 20em;
    border-radius: 1.5em;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pet-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pet-container:hover img {
    transform: scale(1.08);
}

.div-pet-page {
    display: flex;
    flex-direction: row;
}

.div-pet-page div {
    font-size: 150%;
}

.pet-contact-info {
    background-color: #e0cec4;
    padding: 2%;
    font-size: 120%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.about_us {
    font-size: 2em;
}


/* Profile Page*/

.profile_content {
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.profile_content:hover img {
    transform: scale(1.08);
}

.profile_body {
    display: flex;
    flex-direction: row;
}

.profile_div {
    font-size: 150%;
}


/* user profiles */

div.profile_content {
    background-color: #e6e2dc;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    color: #4d3247;
    font-size: 100%;
}


/* Buttons */

.button-container {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}

button {
    align-self: left;
    transition: all .3s ease-in-out;
    color: #ecedeb;
    margin-left: 1em;
    border: none;
    background-color: #a57573;
    border-radius: 10px;
    padding: .8em;
    margin: .5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    font-size: 120%;
}

button.delete {
    background-color: rgb(217, 99, 99);
}

button.edit {
    background-color: rgb(76, 154, 76);
}

button:hover {
    box-shadow: rgba(193, 184, 184, 0.1) 2px 4px 5px 2px, rgba(211, 201, 201, 0.06) 2px 4px 5px 2px;
    letter-spacing: .08em;
    transform: scale(1.1);
    filter: brightness(120%);
}

#add-pet-button {
    background-color: transparent;
    text-align: center;
    width: 100%;
}


/* FORMS */

form * {
    font-family: 'Dosis';
    margin: 10px;
}

legend {
    font-size: 200%;
}

fieldset {
    padding: 5%;
    font-size: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    font-weight: bold;
    display: inline-block;
    align-self: center;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
select,
textarea {
    font-size: 120%;
    color: #4d3247;
    background-color: #ecedeb;
    font-weight: 600;
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(189, 178, 178);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.address-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.address-form * {
    align-items: center;
    justify-content: center;
    font-size: 120%;
    color: #4d3247;
    font-weight: 600;
    padding: 12px;
    border: 2px solid rgb(189, 178, 178);
    background-color: #ecedeb;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.address-form *:first-child {
    font-size: 120%;
    color: #4d3247;
    font-weight: 600;
}

fieldset {
    border-radius: 10px;
    border: 2px solid #4d3247;
}

.alert {
    padding: 20px;
    background-color: rgb(217, 99, 99);
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}


/* drag and drop */

.image-upload {
    position: relative;
    align-self: center;
}

.drop-zone {
    background-color: #ecedeb;
    min-width: 20rem;
    height: 20rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgb(189, 178, 178);
    border-radius: 10px;
}

.drop-zone--over,
.drop-zone:hover {
    background-color: #e0cec4;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ecedeb;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ecedeb;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.profile_body {
    position: relative;
    display: flex;
    flex-direction: column;
}

.photo-icon {
    position: absolute;
    box-shadow: none;
    max-width: 200px;
    max-height: 200px;
    filter: opacity(5%);
}


/* pet contact details */

form.email {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.email button {
    align-self: flex-start;
}

#pet-basic-info {
    background-color: #E0CEC4;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex: wrap;
    align-self: center;
    justify-content: space-around;
    font-size: larger;
    width: 50vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#main-image {
    align-self: center;
}

#go-back-button {
    align-self: flex-start;
    max-width: 30%;
    margin: 5%;
}