/* COLORS:


Accents:
Pink: #E94B7F

Bases:
White: 
Dark Black: background-color: #1C1C26;

*/


/* title fonts: Caveat */


/* normal fonts: Dosis */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap');
html {
    font-family: 'Dosis';
    background-color: #ecedeb;
    color: #4d3247;
}

body {
    margin: 0;
}

main>h1 {
    text-align: center;
    background-color: #ecedeb;
    font-size: 4rem;
}

nav {
    background-color: #E94B7F;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4%;
    position: sticky;
    top: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.nav-buttons a {
    background-color: #ef6794;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-buttons a:hover {
    background-color: #C02C4F;
}

a {
    text-decoration: none;
    color: #ecedeb;
}

main>*,
main>*>div {
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    color: #4d3247;
    background: #e6e2dc;
    font-size: 100%;
}

.animal-info {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #e0cec4;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.animal-info * {
    padding: 20px;
    font-size: 120%;
}

.pet-container {
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pet-container:hover {
    background-color: #e9dad3;
}