/* imports */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

/* basic definitions */


/* var set up */

:root {
    --white: rgb(255, 255, 255);
    --main-black: #14110f;
    --off-black: #221e1b;
    --main-bg: rgb(245, 245, 245);
    --off-white: #f4f3ee;
    --layer-white: #e7dede;
    --layer-white-hover: rgb(235, 235, 235);
    --light-grey: rgb(189, 178, 178);
    --off-gray: #342f31;
    --off-gray-hover: #504848;
    --border: #6f4b59;
    --red: rgb(217, 99, 99);
    --green: rgb(80, 147, 80);
    --yellow: rgb(220, 183, 113);
}

i {
    vertical-align: bottom;
}

p {
    padding-left: .2em;
}

html {
    font-family: 'Dosis';
    background-color: var(--main-bg);
    color: var(--main-black);
}

pre {
    font-family: 'Dosis';
}

body {
    margin: 0;
}

main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: calc(6vw + 20px);
    overflow: hidden;
    text-align: center;
    font-family: 'Josefin Sans';
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 1.8em;
}

h3 {
    font-family: 'Josefin Sans';
    padding-left: 1em;
    font-size: 3em;
}

a {
    font-family: 'Dosis';
    text-decoration: none;
    color: var(--main-black);
}


/* nav bar */

.nav-div {
    z-index: 999;
    max-height: 4%;
    position: sticky;
    top: 0;
}

nav {
    max-height: 4%;
    font-size: 0.6em;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    z-index: 999;
    background-color: var(--main-black);
    padding: 1em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.topnav {
    font-size: 1.3em;
    overflow: hidden;
}

.topnav a {
    border-radius: .2em;
    margin-right: 1em;
    font-size: 1.5em;
    float: left;
    display: block;
    color: var(--layer-white);
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

.topnav a:hover {
    color: var(--yellow);
    background-color: var(--off-black);
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* main pages */

main>*>div {
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    color: var(--main-black);
    font-size: 100%;
}

img {
    max-width: 70vw;
    margin: 1em;
    transition: all .4s ease-in-out;
    width: 20em;
    height: 20em;
    border-radius: 1.5em;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pet-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pet-content {
    font-size: 1.8em;
    text-align: center;
}

.div-pet-page {
    display: flex;
    flex-direction: row;
}

.div-pet-page div {
    font-size: 150%;
}

.pet-contact-info {
    background-color: var(--layer-white-hover);
    padding: 2%;
    font-size: 120%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.about_us {
    font-size: 2em;
}

.pet-container {
    display: flex;
    flex-direction: column;
}


/* Profile Page*/

.profile_content {
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.profile_div {
    font-size: 120%;
}


/* user profiles */

div.profile_content {
    background-color: var(--layer-white-hover);
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    color: var(--main-black);
    font-size: 100%;
}


/* Buttons */

.button-container {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Dosis';
    letter-spacing: 2px;
    align-self: left;
    transition: all .3s ease-in-out;
    color: var(--off-white);
    margin-left: 1em;
    margin: 0.5em;
    border: none;
    background-color: var(--main-black);
    border-radius: 5px;
    padding: .8em;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button.delete {
    background-color: var(--red);
}

button:hover {
    letter-spacing: .06em;
    transform: scale(1.1);
    filter: brightness(120%);
}

#add-pet-button {
    background-color: transparent;
    text-align: center;
    width: 100%;
}


/* FORMS */

form * {
    font-family: 'Dosis';
    margin: 10px;
}

legend {
    font-size: 200%;
}

fieldset {
    padding: 5%;
    font-size: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    font-weight: bold;
    display: inline-block;
    align-self: center;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
select,
textarea {
    font-size: 120%;
    color: var(--off-gray-hover);
    background-color: var(--off-white);
    font-weight: 600;
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--border);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#message1,
#message2 {
    display: none;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message1 p {
    padding: 10px 35px;
    font-size: 18px;
}

#message2 p {
    padding: 10px 35px;
    font-size: 18px;
}

.form-style {
    font: 95% Arial, Helvetica, sans-serif;
    margin: 10px auto;
    padding: 16px;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="password"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select {
    outline: none;
    max-width: 96%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: var(--white);
    margin-bottom: 4%;
    border: 1px solid var(--border);
    padding: 3%;
    font-size: 120%;
    color: var(--off-gray-hover);
}

.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="password"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus {
    box-shadow: 0 0 5px var(--yellow);
    padding: 3%;
    border: 1px solid var(--yellow);
}


/* search */

.search-container {
    margin: 0;
    align-items: center;
    color: var(--off-white);
    display: flex;
    flex-direction: row;
    border-color: transparent;
    background-color: var(--main-black);
}


/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: var(--green);
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}


/* Add a red text color and an "x" when the requirements are wrong */

.invalid {
    color: var(rgb(217, 99, 99));
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

.address-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.address-form * {
    align-items: center;
    justify-content: center;
    font-size: 120%;
    color: var(--off-gray);
    font-weight: 600;
    padding: 12px;
    border: 2px solid var(--border);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.address-form *:first-child {
    font-size: 120%;
    color: #4d3247;
    font-weight: 600;
}

fieldset {
    border-radius: 10px;
    border: 2px solid var(--border);
}

.alert {
    padding: 20px;
    opacity: 0.9;
    background-color: var(--red);
    color: var(--main-bg);
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: var(--main-bg);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}


/* drag and drop */

.image-upload {
    position: relative;
    align-self: center;
}

.drop-zone {
    background-color: var(--white);
    min-width: 80%;
    height: 40vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--border);
    border-radius: 10px;
}

.drop-zone--over,
.drop-zone:hover {
    background-color: var(--yellow);
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--yellow);
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: var(--yellow);
    background: var(--main-black);
    font-size: 14px;
    text-align: center;
}

.profile_body {
    position: relative;
    display: flex;
    flex-direction: column;
}

.photo-icon {
    position: absolute;
    box-shadow: none;
    max-width: 200px;
    max-height: 200px;
    filter: opacity(5%);
}


/* pet contact details */

form.email {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.email button {
    align-self: flex-start;
}

#pet-basic-info {
    background-color: var(--layer-white);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex: wrap;
    align-self: center;
    justify-content: space-around;
    font-size: larger;
    width: 50vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#main-image {
    align-self: center;
}

#go-back-button {
    align-self: flex-start;
    max-width: 30%;
    margin: 5%;
}


/* sign up from css*/


/* Style all input fields */

input[type=password],
input[type=email],
input[type=tel],
select,
textarea {
    font-size: 120%;
    color: var(--off-gray);
    background-color: var(--off-white);
    font-weight: 600;
    width: 100%;
    padding: 12px;
    border: 2px solid var(--border);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


/* Style the container for inputs */

.container {
    padding: 1.2em;
}


/* The message box is shown when the user clicks on the password field */

#message1,
#message2 {
    display: none;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}


/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: var(--green);
}

.valid:before {
    position: relative;
    content: "✔";
}


/* Add a red text color and an "x" when the requirements are wrong */

.invalid {
    color: var(--red);
}

.invalid:before {
    position: relative;
    content: "✖";
}


/* cards */

.card {
    margin: 4%;
    margin-top: 60px;
    padding: min(10px, 3em);
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card h2 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 10px;
}

.card img {
    border-radius: 10px;
    position: relative;
    z-index: 10;
    transition: all 1s ease-in-out;
}

.card__content {
    margin: 1rem 0;
    overflow: hidden;
    margin-top: -200px;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease-in-out;
}

.card__content p {
    text-align: center;
}

@media (hover: hover) {
    .card:hover img {
        margin-top: -60px;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.209);
    }
    .card:hover>.card__content {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
    }
}

@media (hover: none) {
    .card img {
        margin-top: -60px;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.209);
    }
    .card>.card__content {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
    }
}


/* footer */

footer {
    display: flex;
    align-items: flex-end;
    height: 20vh;
    font-size: 1.3em;
    color: var(--layer-white);
    padding: 1%;
    position: relative;
    bottom: 0;
    max-width: 100vw;
    background: var(--main-black);
    justify-content: center;
    text-align: center;
}