/* imports */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap');

/* basic text definitions */

html {
    font-family: 'Dosis';
    background-color: #ecedeb;
    color: #4d3247;
}

pre {
    font-family: 'Dosis';
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h3 {
    text-align: center;
    font-size: 3em;
}

a {
    font-family: 'Dosis';
    text-decoration: none;
    color: #4d3247;
}


/* nav bar */

nav {
    z-index: 999;
    background-color: #4d3247;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    justify-content: flex-end;
    top: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.nav-buttons a {
    background-color: #a57573;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-buttons a:hover {
    background-color: #9b5263;
}

.nav-buttons>a {
    color: #ecedeb;
}


/* main pages */

main>*,
main>*>div {
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    color: #4d3247;
    font-size: 100%;
}

main>* {
    background: #e6e2dc;
}

.animal-info {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #e0cec4;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.animal-info * {
    font-weight: bold;
    padding: 2em;
    font-size: 120%;
}

.pet-container {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pet-container:hover {
    background-color: #e9dad3;
}

img {
    margin: 1em;
    transition: all .4s ease-in-out;
    width: 20em;
    height: 20em;
    border-radius: 1.5em;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pet-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pet-container:hover img {
    transform: scale(1.08);
}

.div-pet-page {
    display: flex;
    flex-direction: row;
}

.div-pet-page div {
    font-size: 150%;
}


/* Buttons */

.button-container {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}

button {
    transition: all .1s ease-in-out;
    color: #ecedeb;
    margin-left: 1em;
    border: none;
    background-color: #a57573;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button.delete {
    background-color: rgb(217, 99, 99);
}

button.edit {
    background-color: rgb(76, 154, 76);
}

button:hover {
    letter-spacing: .05em;
    transform: scale(1.1);
    filter: brightness(120%);
}


/* FORMS */

form * {
    font-family: 'Dosis';
    margin: 10px;
}

legend {
    font-size: 200%;
}

fieldset {
    padding: 5%;
    font-size: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    font-weight: bold;
    display: inline-block;
    align-self: center;
}

input[type=text],
select,
textarea {
    font-size: 120%;
    color: #4d3247;
    background-color: #ecedeb;
    font-weight: 600;
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(189, 178, 178);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


/* drag and drop */

.image-upload {
    position: relative;
    align-self: center;
}

.drop-zone {
    background-color: #ecedeb;
    min-width: 20rem;
    height: 20rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgb(189, 178, 178);
    border-radius: 10px;
}

.drop-zone--over,
.drop-zone:hover {
    background-color: #e0cec4;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ecedeb;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ecedeb;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.photo-icon {
    position: absolute;
    box-shadow: none;
    max-width: 200px;
    max-height: 200px;
    filter: opacity(5%);
}

/* sign up from css*/
/* Style all input fields */
input[type=password], input[type=email], input[type=tel],
select,
textarea {
    font-size: 120%;
    color: #4d3247;
    background-color: #ecedeb;
    font-weight: 600;
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(189, 178, 178);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message1, #message2 {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message1 p {
  padding: 10px 35px;
  font-size: 18px;
}

#message2 p {
    padding: 10px 35px;
    font-size: 18px;
  }

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}