<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet/style.css">
    <script defer src="/static/scripts/drag_drop.js"></script>
    <title>Adoptables Info Page</title>
</head>

<body>
    <nav>
        <div class="nav-buttons">
            <a href="/">HOME</a>
            <a href="/info">LEARN MORE</a>
            <a href="/add"> ADD A PET</a>
        </div>
    </nav>


    <h1>Add A New Pet For Adoption</h1>

    <main class="pet-form">

        <form method="post" action="/add/newPet" enctype="multipart/form-data">
            <fieldset>

                <legend class="form-inner">Pet Information</legend>
                <div>
                    <label for="pet_name">Pet name:</label>
                    <input type="text" placeholder="name" name="pet_name">

                    <label for="pet_gender">Gender:</label>
                    <input type="text" placeholder="gender" name="pet_gender">


                </div>


                <div>
                    <label for="pet_species">Species:</label>
                    <select name="species" name="pet_species">
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="rodent">Rodent</option>
                    <option value="bird">Bird</option>
                    <option value="reptile">Reptile</option>
                    <option value="other">Other</option>
                </select>
                </div>

                <div>
                    <label for="pet_age">Age:</label>
                    <input type="text" placeholder="age" name="pet_age">
                </div>

                <br>

                <div>
                    <label for="pet_description">Description:</label>
                    <textarea placeholder="description..." rows="10" name="pet_description"></textarea>
                </div>

                <div class="image-upload">
                    <label for="myfile">Upload an Image:</label>
                    <div class="drop-zone">
                        <img class="photo-icon" src="https://www.freeiconspng.com/thumbs/camera-icon/camera-icon-21.png">
                        <span class="drop-zone__prompt">Drop an image in here or click to upload</span>

                        <input type="file" name="myfile" class="drop-zone__input">
                    </div>
                </div>


            </fieldset>
            <button type="submit">Submit</button>

        </form>

        </script>

    </main>
</body>

</html>