{% extends "base.html"%} {% block content %}

<h1>Add A New Pet For Adoption</h1>

<main class="pet-form">

    <form class="form-style" method="post" action="/add/newPet" enctype="multipart/form-data">
        <fieldset>

            <legend class="form-inner">Pet Information</legend>
            <div>
                <label for="pet_name">Pet name:</label>
                <input type="text" placeholder="name" name="pet_name" required>

                <label for="pet_gender">Gender:</label>
                <input type="text" placeholder="gender" name="pet_gender" required>


            </div>


            <div>
                <label for="pet_species">Species:</label>
                <select name="species" name="pet_species" required>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="rodent">Rodent</option>
                    <option value="bird">Bird</option>
                    <option value="reptile">Reptile</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div>
                <label for="pet_age">Age:</label>
                <input type="text" placeholder="age" name="pet_age" required>
            </div>

            <br>

            <div>
                <label for="pet_description">Description:</label>
                <textarea placeholder="description..." rows="10" name="pet_description"></textarea>
            </div>

            <div class="image-upload">
                <label for="myfile">Upload an Image:</label>
                <div class="drop-zone">
                    <img class="photo-icon" src="https://www.freeiconspng.com/thumbs/camera-icon/camera-icon-21.png"
                        required>
                    <span class="drop-zone__prompt">Drop an image in here or click to upload</span>

                    <input type="file" name="myfile" class="drop-zone__input">
                </div>
            </div>


        </fieldset>
        <button type="submit">Submit</button>

    </form>

    </script>

</main>
{% endblock %}