<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet/style.css">
    <script defer src="https://kit.fontawesome.com/85bf5e07f4.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="/static/scripts/general.js"></script>
    <script defer type="text/javascript" src="/static/scripts/email.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <title>Adoptables</title>
</head>

<body>
    <div class="nav-div">
        <nav class="navMenu">


            <div class="topnav" class="navMenu" id="myTopnav">
                <a href="/"><i class="fa-solid fa-house" class="active"></i></a>
                <a href="/info">LEARN MORE</a> {% if session["user"] %}
                <a href="/profile">VIEW PROFILE</a>
                <a href="/logout">LOG OUT</a> {% else %}
                <a href="/signup">SIGNUP AS A SHELTER</a>
                <a href="/login">LOGIN</a> {% endif %}
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>


            </div>

        </nav>

        {% if error %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> {{error}}
        </div>
        {% endif %}
    </div>

    {% block content %}{% endblock %}


    <footer>
        <div class="footer-content">
            <p>© Copyright 2022</p>
            <p>✉ adoptables.app@gmail.com</p>
            <pre>   Created by:    MJ Galam, Shanti Stein-Gagnon, 
                            Hai Run Yin, Coburn Nguyen, 
                            Phuong Vi Dang, Ravi Walberg</pre>
        </div>
    </footer>


</body>

</html>