<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20,400,1,0" />
    <script defer src="https://kit.fontawesome.com/85bf5e07f4.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="/static/scripts/general.js"></script>
    <script defer type="text/javascript" src="/static/scripts/email.js"></script>
    <script defer type="text/javascript" src="/static/scripts/slide.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <title>Adoptables</title>
</head>

<body>
    <div class="nav-div">
        <nav class="navMenu">
            <h2 class="logo">Adoptables</h2>
            <div class="topnav" class="navMenu" id="myTopnav">
                <a href="/"><i class="material-symbols-rounded">home</i>HOME</a>
                <a href="/info"><i class="material-symbols-rounded">info</i> LEARN MORE</a> {% if session["user"] %}
                <a href="/profile"><i class="material-symbols-rounded">account_circle_full</i> VIEW PROFILE</a>
                <a href="/logout"><i class="material-symbols-rounded">exit_to_app</i> LOG OUT</a> {% else %}
                <a href="/signup"><i class="material-symbols-rounded">group_add</i> SIGNUP</a>
                <a href="/login"> <i class="material-symbols-rounded">login</i> LOGIN</a> {% endif %}
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </nav>
        {% if error %}
        <div class="alert">
            <i class="closebtn" onclick="this.parentElement.style.display='none';">&times;</i> {{error}}
        </div>
        {% endif %}
    </div>

    {% block content %}{% endblock %}


    <footer>
        <div class="footer-content">
            <hr>
            <p><i class="material-symbols-rounded">mail</i> adoptables.app@gmail.com</p>
            <p> © Copyright 2022 </p>
        </div>
    </footer>


</body>

</html>