<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet/style.css">
    <script defer src="https://kit.fontawesome.com/85bf5e07f4.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="/static/scripts/drag_drop.js"></script>
    <script defer type="text/javascript" src="/static/scripts/email.js"></script>

    <title>Adoptables</title>
</head>

<body>
    <div class="nav-div">
        <nav>
            <div class="nav-buttons">

                <a href="/"><i class="fa-solid fa-house"></i></a>
                <a href="/info">LEARN MORE</a> {% if session["user"] %}
                <a href="/profile">VIEW PROFILE</a>
                <a href="/logout">LOG OUT</a> {% else %}
                <a href="/signup">SIGNUP AS A SHELTER</a>
                <a href="/login">LOGIN</a> {% endif %}

            </div>

        </nav>

        {% if error %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> {{error}}
        </div>
        {% endif %}
    </div>

    {% block content %}{% endblock %}


</body>

</html>