{% extends "base.html"%} {% block content %}


<h1>Edit A Pet For Adoption</h1>

<main class="pet-form">

    <form class="form-style" method="post" action="/edit/{{pet.id}}/put" enctype="multipart/form-data">
        <div>
            <label for="pet_name">Pet name:</label>
            <input type="text" placeholder="name" value="{{pet.name}}" name="pet_name">

            <label for="pet_gender">Gender:</label>
            <input type="text" placeholder="gender" value="{{pet.gender}}" name="pet_gender">
        </div>


        <div>
            <label for="pet_species">Species:</label>
            <select name="species" name="pet_species">
                <option value="dog" {% if pet.species=="dog" %}selected{% endif %}>Dog</option>
                <option value="cat" {% if pet.species=="cat" %}selected{% endif %}>Cat</option>
                <option value="rodent" {% if pet.species=="rodent" %}selected{% endif %}>Rodent</option>
                <option value="bird" {% if pet.species=="bird" %}selected {% endif %}>Bird</option>
                <option value="reptile" {% if pet.species=="reptile" %}selected {% endif %}>Reptile</option>
                <option value="other" {% if pet.species=="other" %}selected {% endif %}>Other</option>
            </select>
        </div>

        <div>
            <label for="pet_age">Age:</label>
            <input type="text" placeholder="age" value="{{pet.age}}" name="pet_age">
        </div>

        <br>

        <div>
            <label for="pet_description">Description:</label>
            <textarea placeholder="description..." rows="10" name="pet_description">{{pet.description}}</textarea>
        </div>

        <div class="image-upload">

            <br>
            <label for="myfile">Upload a New Image:</label>
            <div class="drop-zone">
                <img class="photo-icon" src="https://www.freeiconspng.com/thumbs/camera-icon/camera-icon-21.png">
                <span class="drop-zone__prompt">Upload a New Image <br> (leave empty to keep the original
                    image)</span>

                <input type="file" name="myfile" class="drop-zone__input">
            </div>
        </div>
        <button type="submit">Submit</button>

    </form>


</main>
</body>

</html>


{% endblock %}