{% extends "base.html" %} {% block content %}
<h1>Currently Adoptable Pets</h1>
<main>
    <!-- Slideshow Container-->
    <div class = "Slideshow-container">

        <!-- Full images with numbers and message Info-->
            <!-- First Image -->
    
            <div class = "Image-container">
                <div class = "Message-Info"></div>
                <img src = "">
                <div class = "Info">First Image</div>
            </div >
            <!-- Second Image -->
           
            <div class = "Image-container">
                <div class = "Message-Info"></div>
                <img src = "">
                <div class = "Info">Second Image</div>
            </div >
    
            <!-- Third Image -->
            
            <div class = "Image-container">
                <div class = "Message-Info"></div>
                <img src = "">
                <div class = "Info">Third Image</div>
            </div>
    
            <!-- Back and forward function -->
    
            <a class = "Back-Button" onclick ="pushSlide(-1)"></a>
            <a class = "Forward-Button" onclick = "pushSlide(1)"></a>
        </div>
    
        <!-- Triple Dots -->
    
        <div class ="triple-dots">
            <span class="dots" onclick="currentSlide(1)"></span>
            <span class="dots" onclick="currentSlide(2)"></span>
            <span class="dots" onclick="currentSlide(3)"></span>
        </div>
        
    <!-- search bar -->
    <form id="myInput" class="form-style" method="post">
        <label for="search" class="large-font">Search Pets:</label>
        <div class="search-container">
            <input type="text" id="search" placeholder="Search" name="search">
            <button type="submit" class="material-symbols-rounded">search</button>
        </div>
    </form>



    <div class="pet-list">


        {% for pet in pets %}


        <a class="pet-container" href="/adopt/{{pet.id}}">


            <div class="card">
                <img src=" {{ url_for( 'file', filename=pet.image ) }}">
                <h2 class="pet-title">{{ pet.name }}</h2>
                <div class="card__content">
                    <p>
                        {{pet.species}} | {{pet.age}} | {{pet.gender}} <br>{{pet.description}}
                    </p>
                    <a id="pet-link" href="/adopt/{{pet.id}}"><button><i class="material-symbols-rounded">pets</i> Read
                            More</button></a>

                </div>
            </div>

        </a>

        {% endfor %}
    </div>


</main>
{% endblock %}