{% extends "base.html" %} {% block content %}


<main>
    <!-- Text Animation Wrapper-->
    <div class ="type-wrapper">

        <!-- Static Text-->
        <div class="static-txt"><h1>Currently Adoptable Pets</h1></div>

        <!-- Dynamic Text -->
        <ul class="dynamic-txts">
            <li><span>Dog</span></li>
            <li><span>Cat</span></li>
            <li><span>Rodent</span></li>
            <li><span>Bird</span></li>
            <li><span>Reptile</span></li>
            <li><span>And More</span></li>
        </ul>
    </div>
    <!-- search bar -->
    <form id="myInput" class="form-style" method="post">
        <label for="search" class="large-font">Search Pets:</label>
        <div class="search-container">
            <input type="text" id="search" placeholder="Search" name="search">
            <button type="submit" class="material-symbols-rounded">search</button>
        </div>
    </form>



    <div class="pet-list">


        {% for pet in pets %}


        <a class="pet-container" href="/adopt/{{pet.id}}">


            <div class="card">
                <img src=" {{ url_for( 'file', filename=pet.image ) }}">
                <h2 class="pet-title">{{ pet.name }}</h2>
                <div class="card__content">
                    <p>
                        {{pet.species}} | {{pet.age}} | {{pet.gender}} <br>{{pet.description}}
                    </p>
                    <a id="pet-link" href="/adopt/{{pet.id}}"><button><i class="material-symbols-rounded">pets</i> Read
                            More</button></a>

                </div>
            </div>

        </a>

        {% endfor %}
    </div>


</main>
{% endblock %}