{% extends "base.html"%} {% block content %}

<h1>Group 11's Website</h1>

<main class="info-page">
    <div>
        <h3>About Us</h3>
        <p class="about_us">
            Adoptables is where a person can adopt an domesticated animal into their own care. This process often happen at animal shelter through in person visits. The incentive for creating this website is to prevent further cases of euthanized shelters animals
            in Canada to below 5%. Statistics can be seen on <a href="https://petkeen.com/animal-shelter-statistics-canada/">Petkeen's
                        Statistics</a> of animals in Canadian Shelters. By creating a centralized website for animal shelters in the lower mainland, abandoned or lose animals can be more readily available to users. Users will be able to view list of animals
            waiting to be adopted, along with their description, such as, name, age, gender, and a short description. Animal shelter will easily be able to add pets info to meet with user who are interested in their animals who are up for adoption.
        </p>
    </div>
</main>
{% endblock %}