<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet/style.css">
    <title>Adoptables Info Page</title>
</head>

<body>
    <nav>
        <div class="nav-buttons">
            <div class="nav-buttons">
                <a href="/">HOME</a>
                <a href="/info">LEARN MORE</a>
                <a href="/add">ADD A PET</a>
                <a href="/signup">SIGNUP</a>
                <a href="/signup">LOGIN</a>
            </div>
        </div>
    </nav>

    <main class="info">
        <div class="info text">
            <p>Hello, welcome to Set B, Group 11's Website</p>
        </div>


    </main>
</body>

</html>