{% extends "base.html"%} {% block content %}


<main class="info">
    <div class="info text">
        <p>Hello, welcome to Set B, Group 11's Website</p>
    </div>


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/stylesheet/style.css">
        <script src="https://kit.fontawesome.com/85bf5e07f4.js" crossorigin="anonymous"></script>
        <title>Adoptables Info Page</title>
    </head>

    <body>
        <nav>
            <div class="nav-buttons">
                <a href="/"><i class="fa-solid fa-house"></i></a>
                <a href="/info">LEARN MORE</a>
                <a href="/add"> ADD A PET</a>
                <a href="/signup">SIGNUP</a>
                <a href="/login">LOG IN</a>
            </div>
        </nav>

        <main class="info">
            <div class="info text">
                <h2>Hello, welcome to Set B, Group 11's Website</h2>
                <h3>About Us</h3>
                <p class="about_us">
                    Adopters is where a person can adopt an domesticated animal into their own care.
                    This process often happen at animal shelter through in person visits.
                    The incentive for creating this website is to prevent further cases of euthanized shelters animals
                    in Canada to below 5%.
                    Statistics can be seen on <a href="https://petkeen.com/animal-shelter-statistics-canada/">Petkeen's
                        Statistics</a> of animals in Canadian Shelters.
                    By creating a centralized website for animal shelters in the lower mainland, abandoned or lose
                    animals can be more readily available to users.
                    Users will be able to view list of animals waiting to be adopted, along with their description, such
                    as, name, age, gender, and a short description.
                    Animal shelter will easily be able to add pets info to meet with user who are interested in their
                    animals who are up for adoption.

                </p>
            </div>

        </main>
        {% endblock %}