<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet/style.css">
    <title>Login</title>
</head>

<body>
    <nav>
        <div class="nav-buttons">
            <a href="../">HOME</a>
            <a href="../info">LEARN MORE</a>
            <a href="../add"> ADD A PET</a>
        </div>
    </nav>
    <div class="center">
        <h1>
            Login
        </h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="text" required>
                    <label>Password</label>
                </div>
                <div class="pass">
                    Forgot Password?
                </div>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Not a member? <a href="#">Signup</a>
                </div>
            </form>
    </div>
</body>