{% extends "base.html"%} {% block content %}

<h1>Hello! my name is {{pet.name}}!</h1>

<main class="pet-page">
    <div class="profile_body">
        <img id="main-image" src=" {{ url_for( 'file', filename=pet.image ) }}">

        <br>
        <div id="pet-basic-info">
            <p>Species: {{pet.species}}</p>
            <p>Age: {{pet.age}}</p>
            <p>Gender: {{pet.gender}}</p>

        </div>
        <h2>Description</h2>



        <pre>{{pet.description}}</pre>

        <h2>
            Shelter Contact Information
        </h2>
        <div class="pet-contact-info">
            <h2>Shelter Name: {{profile.shelter_name}}</h2>
            <p>Email: {{profile.email}}</p>
            <p>Phone Number: {{profile.phone}}</p>
            <p>Address: {{profile.street}}, {{profile.city}}, {{profile.province}}. {{profile.postal}}</p>

            <h2>Email Now</h2>

            <form class="email" method="get">

                <div>
                    <label for="Email" class="fcf-label">Your email address</label>
                    <input type="email" id="Email" name="email" required>

                    <label for="message" class="fcf-label">Your message</label>
                    <textarea id="message" name="message" class="fcf-form-control" rows="6" maxlength="3000"
                        required></textarea>

                </div>
                <button type="submit">Send message</button>

            </form>
        </div>
        <button id="go-back-button" onclick="history.back()">Go Back</button>
    </div>
</main>
{% endblock %}